/* index styling */

/*  STYLE FONT BETTER */
html, body {
    height: 100%; 
    margin: 0; 
    display: flex;
    flex-direction: column; 
    font-family: Gill Sans, sans-serif;
}

/* CHANGE THIS SO NAME GOES LONG */
header {
    border-bottom: 4px solid #000000; 
    padding-bottom: 10px;
    color: #000000;
    text-align: center;
    padding: 10px;

}

    header h1 {
        font-size: 50px;
        text-align: center;
        letter-spacing: 5px;
    }

.links a { 
    color: #000000;
    text-decoration: none;
}

.initial-statement {
    font-size: 60px;
    text-align: center;
}

.aboutme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #000000; 
    color: #ffffff;
    margin: 20px auto; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

    .aboutme .text {
        flex: 1;
    }
  
    .aboutme img {
        border-radius: 50%; 
        width: 150px; 
        height: 150px; 
        object-fit: cover; 
        margin-right: 20px;
    }
  
    .aboutme h2 {
        margin: 0 0 10px 0; 
        font-size: 28px;
        text-align: center;
        padding-bottom: 5px;
    }
  
    .aboutme p {
        margin: 0; 
        font-size: 16px;
        line-height: 1.5; 
    }

/* TODO */
.my-projects .inline-git {
    display: inline-block;
}

.my-projects a {
    text-decoration: none;
    font-style: italic;
    color: inherit;
    font-size: 28px;
}

    .my-projects h1 {
        display: inline-block;
        text-align: center;
        padding: 30px;
        font-size: 40px;
    }

    .item-container {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    
    .item-box {
        width: 48%; 
        padding-top: 48%;
        margin: 10px;
        box-sizing: content-box;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        
    }
    
    .item-box video {
        position: absolute;
        object-fit: contain;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        background-color: #ffffff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        
    }

.resume-coverletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #000000; 
    color: #ffffff;
    margin: 20px auto; 
    height: 1500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.document-box {
    width: 48%; 
    height: 500px;
    margin: 10px;
    box-sizing: content-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.completed-courses, .inline-link {
    display: inline-block;
}

.completed-courses a {
    text-decoration: none;
    font-style: italic;
    color: inherit;
    font-size: 28px;
}

.completed-courses h1 {
    display: inline-block;
    margin-right: 10px;
    padding-top: 20px;
    font-size: 40px;
    text-align: left;
}

.completed-courses p {
    font-size: 10px;
    text-align: left;
}

.closing-message {
    text-align: center;
    padding: 20px;
    background-color: #000000; 
    color: #ffffff;
    margin: 20px auto; 
    height: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

    
main {
    flex: 1;
    padding: 20px; 
    background-color: #f9f9f9; 
}

/* KEEP FOOTER ATTACHED TO THE BOTTOM OF SCREEN */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
}